<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="POST" action="/display-puppy">
      <h1>Your pup</h1>
      <p>Pup name: <input type="text" name="puppy[name]"></p>
      <p>Pup breed:<input type="text" name="puppy[breed]"></p>
      <p>Pup age: <input type="text" name="puppy[age]"></p>
      <input type="submit">
    </form>
  </body>
</html>
